# THIS FILE IS A TEMPLATE FOR WHICH ENV VARS ARE USED
# VALUES IN THIS FILE SHOULD NOT BE EDITED
# THIS FILE WILL BE COMMITED!
# The Discord bot token to login with (REQUIRED)
TOKEN=

# The URL of the Postgres server to use as database
DATABASE_URL=

# The bot user ID for slash command deployment
CLIENT_ID=

# The server ID to deploy commands to
GUILD_ID=

