# !! THIS FILE IS A TEMPLATE FOR WHICH ENV VARS ARE USED
# !! VALUES IN THIS FILE SHOULD NOT BE EDITED
# !! THIS FILE WILL BE COMMITED!

# The Discord bot token to login with (REQUIRED)
TOKEN=

# The URL of the Postgres server to use as database (REQUIRED)
DATABASE_URL=""

# The bot user ID for slash command deployment (REQUIRED)
CLIENT_ID=

# The server ID to deploy commands to (Recommended for quick deployment)
GUILD_ID=

# The id of the bot owner (Not required)
OWNER_ID=

# Cooldown time in ms (set to 0 to disable)
COOLDOWN_TIME=2000