node_modules
.env
/.idea
/.vscode
/.fleet

# dev files
/src/buttons/UniversalNoButton.ts
/src/commands/say.ts
/src/commands/eval.ts
/src/modals/EvalModal.ts

# build
/dist


# User generated docker files
docker-compose.yml
Dockerfile
/db
